# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

.DS_Store
/leap

# Build directory
build/

# Snapshot files
*.json
*.yaml
!go.mod
!go.sum

# LEAP config and history
.leap/

git add .
git commit -m "Release v0.6.0"
git tag v0.6.0
git push origin main
git push origin v0.6.0

git tag -d v0.6.0 && git push origin :refs/tags/v0.6.0